
.hero {
    background-image: url(img/p1.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

.hero .span-1{
    color: #E12910;
}
.hero .span-2{
    color: #1AA1DB;
}
.hero .span-3{
    color: #E9C406;
}
.hero .title-content{
    font-size: 1.2rem;
}

/* STYLE FOR ABOUT PAGE */
#about .about-img{
    background-image: url(img/program.png);
    background-position: center;
    background-size: cover;
    height: 45%;
    
}
#about h2{
    color:#1AA1DB;
}
#about .about-content{
    background-color: #D3CECE;
}

/* STYLE FOR JOURNEY PAGE */
#journey{
    background-color: #F7EFE5;
}
#journey .html{
    text-align: justify;
}


#journey .css{
    text-align: justify;
}
#journey .js{
    text-align: justify;
}
#journey h2{
    color:#1AA1DB;
}

#journey .html-img a:hover{
    opacity: 0.5;
}
#journey .css-img a:hover{
    opacity: 0.5;
}
#journey .js-img a:hover{
    opacity: 0.5;
}





